:scss
  .about-us-wrapper{
    padding: 100px 0;
    .title-block{
      height: 400px;
      .ow-img{
        width: 252px;
        margin: 0 auto;
      }
      h1{
        font-size: 54px;
        span{
          font-weight: 600;
        }

      }
      h2{
        font-weight: 300;
        color: #aeaeae;
        font-size: 24px;
      }
    }
    .text-block{
      .text{
        font-size: 15px;
        color: rgb(119, 119, 119);
        line-height: 26px;
      }
    }

  }


.about-us-wrapper
  .container
    .title-block
      .ow-img
        = image_tag 'about_us/ow.jpg'
      %h1.text-center
        %span green chemistry
        salon
      %h2.text-center
        Organic Way, the organic detergent, treatment and coloring method for your hair using green chemicals with high
        concentrations of botanical, organic and biodynamic ingredients
    .text-block.row
      .col-sm-7
        = image_tag 'about_us/ab.jpg'
      .col-sm-5
        %p.text
          <strong>If you believe</strong>  that our wonderful planet deserves to be saved and respected and you choose to
          reduce your impact by making responsible purchases // <strong>if you want</strong> to detoxify yourself from
          chemical agents full of aggressive, toxic substances by choosing products rich in organic, biodynamic ingredients
          <strong>if you want</strong> to be seduced by sublime blends of essential oils, phytoproteins and nourishing
          butters // <strong> if you prefer</strong>
          glass, precious, pure, infinitely reusable and recyclable over polluting, disposable plastic // <strong>if you
          are looking for</strong>  a brand with a human face that purchases over fair trade networks and develops
          eco-sustainable projects // <strong>if what you're looking for is quality, consistency, transparency and
          enthusiasm, welcome to the world of organic way <br>sustainable luxury.</strong> Sublime, multisensorial hair
          treatments, with essential oils, hydrolates and pure micronised plants from "0 mile" biodynamic farming.




