:scss
  .carousel-inner{
    .item{
      img{
        width: 100%;
        height: 90vh;
      }
    }
  }

#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
  / Wrapper for slides
  .carousel-inner{:role => "listbox"}
    .item.active
      = image_tag 'slider/slide1.jpg'
      -#%img{:alt => "...", :src => "..."}/
      .carousel-caption
    .item
      = image_tag 'slider/slide2.jpg'
      .carousel-caption
    .item
      = image_tag 'slider/slide3.jpg'
      .carousel-caption
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
