:scss

= render partial: 'home/slider'
= render partial: 'home/about_us'
= render partial: 'home/products'
-#.row
-#  .col-sm-12.products-wrapper
-#    -@products.each do |product|
-#      = render partial: 'product_card', locals: {product: product}
-#    =paginate @products