:scss
  .sidebar{
    background-color: red;
    min-height: 100%;
    //position: fixed;
    margin: 0;
  }
.row
  .col-sm-12.products-wrapper
    -@products.each do |product|
      = render partial: 'product_card', locals: {product: product}
    =paginate @products